<header>
  <div class="navbar" style = "background:lightgray;">

    <h1><span style="border:1px solid black;">SSS</span>  {{pageTitle}}</h1>
    <span>
      <a href="/" >Home Page</a>
      <a href="/about" >About Page</a>
    </span>
  </div>
</header>
