<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    <p>My name is {{name}}.  I am the website administrator.  Please feel free to contact us with any concerns you may have.  I have to go now, my Boss, {{boss}} is yelling for me.</p>


    {{> footer}}
  </body>
</html>
