<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About - {{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <h1>Projects Page</h1>
    <ul>
      <li><p>Node Project Item</p></li>
      <li><p>Node Project Item</p></li>
      <li><p>Node Project Item</p></li>
      <li><p>Node Project Item</p></li>
    </ul>


    {{> footer}}
  </body>
</html>
